.sli-links{ /* Кнопки смены слайдов */
	margin-top:5px;
	width: 50%;
	margin-left: 460px;
}
.sli-links .control-slide{
	margin:2px;
	display:inline-block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:-9999px;
	background:url("../img/radioBg.png"/*tpa=http://europhotoservice.ru/img/radioBg.png*/) center bottom no-repeat;}
.sli-links .control-slide:hover{
	cursor:pointer;
	background-position:center center;}
.sli-links .control-slide.active{
	background-position:center top;}
.prewbutton, .nextbutton{ /* Ссылка "Следующий" и "Педыдущий" */
	display:block;
	width:15px;
	height:100%;
	position:absolute;
	top:0;
	overflow:hidden;
	text-indent:-999px;
	background:url("../img/slider-nav-left.png"/*tpa=http://europhotoservice.ru/img/slider-nav-left.png*/) left center no-repeat;
	opacity:0.8;
	z-index:3;
	outline:none !important;}
.prewbutton{left:10px;}
.nextbutton{
	right:19px;
	background:url("../img/slider-nav-right.png"/*tpa=http://europhotoservice.ru/img/slider-nav-right.png*/) right center no-repeat;}
.slide-1 .prewbutton:hover, .nextbutton:hover{
	opacity:1;}
	
/* Второй слайдер */
.slide-2{
	font:normal 12px/15px Georgia, "Times New Roman", Times, serif; 
	}
.slide-2 .slider{
	height:250px;
	overflow: hidden;
	position:relative;}
.slide-2 .slide{
	padding:28px 50px 28px 74px;
	}
/* Второй слайдер - конец */

h1{
font:bold 16px/20px Georgia, "Times New Roman", Times, serif;
	}