.button-filter{width: 100%;}
.btn.btn-default.button-filter.active{color: #fff !important;border-color: #31aa45;background: #31aa45;}
.catalog.sections.front .item .info .text{max-height: 185px !important;}
.catalog.sections.front .item .info .text .md{padding-bottom: 50px;}
.item-views.catalog{opacity:1;}
.item-views.catalog .notview{display: none;}
.wdt50{width: 50%;float: left;}
.hlbtn-group .indexnt15 > div{margin-right: -15px;margin-left: -15px;}
.hlbtn-group{position: absolute;bottom: 0;left: 0;width: 100%;z-index: 9;display:none;background-color: #fc8100;}
.hlbtn-group a, .hlbtn-group span{cursor: pointer; width: 100%;padding: 15px;text-align: center;background-color: #fc8100;color:#fff;display:block;font-size: 1.14em;font-weight:bold;}
.hlbtn-group a:hover, .hlbtn-group span:hover{color:#fff;}
.hlbtn-group .wdt50:nth-child(2) a{border-left: 1px solid #fff;}
.item.wline:hover .hlbtn-group{display:block;}
@media (max-width: 500px){.hlbtn-group a, .hlbtn-group span{padding: 11px;}}