@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Caption'), local('PTSans-Caption'), url("../fonts.gstatic.com/s/ptsanscaption/v9/OXYTDOzBcXU8MTNBvBHeSfETNPRNVolBcF_UwjGq_RM.woff"/*tpa=https://fonts.gstatic.com/s/ptsanscaption/v9/OXYTDOzBcXU8MTNBvBHeSfETNPRNVolBcF_UwjGq_RM.woff*/) format('woff');
}
@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Caption Bold'), local('PTSans-CaptionBold'), url("../fonts.gstatic.com/s/ptsanscaption/v9/Q-gJrFokeE7JydPpxASt21YMsrE0OGm1FPmk5XnVy_c.woff"/*tpa=https://fonts.gstatic.com/s/ptsanscaption/v9/Q-gJrFokeE7JydPpxASt21YMsrE0OGm1FPmk5XnVy_c.woff*/) format('woff');
}
